extends layout

block content
  section.about
    .row
      .large-6.large-centered.columns
        h4 About
        ul
          li This was built for the 2013 Northern California Facebook Regional Hackathons.
          li It has a subroutine that should run in O(scary).
          li But hey, it seems fast enough in production.
          li
            | Unless it doesn't. In which case, 
            a(href='mailto:contact@lehaozhang.com') email me
            | !
        p
          a(href='/') That'll do, visitor.
          br
          | That'll do.