extends layout

block content
  section.about
    .row
      .large-6.large-centered.columns
        h4 About
        ul
          li This was built at the 2013 Northern California Facebook Regional Hackathons.
          li It took roughly 15 hours.
          li The problem of optimising multiple driver carpooling can be reduced to the multiple travelling salesmen problem.
          li The exact solution to that runs in 
            tt O((n!)!)
            | (I think).
          li I approximate it using a nearest-neighbour algorithm that runs in 
            tt O(n
              sup 2
              | )
            | (I think).
          li Suggestions to improve the algorithm? 
            a(href='mailto:contact@lehaozhang.com') Email me
            | !
        p
          a(href='/') Back