extends layout

block content
  section.error
    .row
      .large-6.large-centered.columns
        h1 Cleanup in aisle #{code}
        p Something bad happened that we don't get. 
          a(href='/') Let's go home.