extends layout

block content
  section.splash
    .row
      .large-5.large-centered.columns
        h1 Voyager
        p
          b Carpooling, destupified.
        p
          a(href='/new') Start a new voyage
  footer
    .row
      .large-12.small-centered.columns
        ul.inline-list
          p
            | With &hearts; from 
            a(href='//lehaozhang.com') Leo Zhang
            br
            a(href='/about') About