extends layout

block content
  section.splash
    .row
      .large-5.large-centered.columns
        h1 Voyager
        p
          b Carpooling, destupified.
        p
          a(href='/new') Start a new voyage
  //- footer
  //-   .row
  //-     .large-8.small-centered.columns
  //-       ul.inline-list
  //-         li
  //-           a(href='#') About
  //-         li
  //-           a(href='#') Terms
  //-         li
  //-           &copy; 2013