extends layout

block content
  section.new
    .row
      .large-5.large-centered.columns
        h2 Go on a Voyage
        form(method='POST', action='/create')
          if locals.message
            .small-12.columns
              input(type='text', name='destination', placeholder='Destination Location', autocomplete="off", value='#{locals.form.destination}')
            hr
            .small-12.columns
              input(type='text', name='owner-name', placeholder='Your Name', autocomplete="off", value='#{locals.form["owner-name"]}')
            .small-12.columns
              input(type='text', name='owner-location', placeholder='Your Location', autocomplete="off", value='#{locals.form["owner-location"]}')
          else
            .small-12.columns
              input(type='text', name='destination', placeholder='Destination Location', autocomplete="off")
            hr
            .small-12.columns
              input(type='text', name='owner-name', placeholder='Your Name', autocomplete="off")
            .small-12.columns
              input(type='text', name='owner-location', placeholder='Your Location', autocomplete="off")
          button.submit Create
        if locals.message
          .alert-box.alert #{locals.message}