extends layout

block content
  section.voyage-missing
    .row
      .large-5.large-centered.columns
        h2 Voyage Not Found
        p
          | We couldn't find the voyage you were looking for. Do you want to 
          a(href='/new') make a new one
          | ?