@import 'normalize.css'
@import 'foundation.min.css'

html
  text-align center
  padding 20px 0 60px

.splash, .new, .error, .about
  margin-top 100px

button
  padding 10px 20px

.voyage
  .another
    text-align left

  table
    width 100%

    th
      text-align center

  form
    .row
      text-align left

    label[for='driving']
      margin-top 2px

  #map-canvas
    width 100%
    height 300px

  .directions
    text-align left

    .directions-header
      cursor pointer

    ol
      margin-left 30px

.about
  ul
    text-align left

footer
  margin-top 100px
