@import 'normalize.css';
@import 'foundation.min.css';
html {
  text-align: center;
  padding: 60px 0;
}
.splash,
.new,
.error {
  margin-top: 100px;
}
button {
  padding: 10px 20px;
}
.voyage table {
  width: 100%;
}
.voyage table th {
  text-align: center;
}
.voyage form .row {
  text-align: left;
}
footer {
  margin-top: 100px;
}
footer .inline-list {
  max-width: 220px;
  margin: 0 auto;
}
